<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110393881435-ao2e3m8phkg4jeavj9v4cngnbememi7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110393881435-ao2e3m8phkg4jeavj9v4cngnbememi7s</string>
	<key>API_KEY</key>
	<string>AIzaSyDcwDILzjhTWGKIsRR445yYYTG8aeQtk9w</string>
	<key>GCM_SENDER_ID</key>
	<string>110393881435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Todo</string>
	<key>PROJECT_ID</key>
	<string>todo-bdd4e</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-bdd4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110393881435:ios:51a35bd9925c4b6445607e</string>
	<key>DATABASE_URL</key>
	<string>https://todo-bdd4e.firebaseio.com</string>
</dict>
</plist>